<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.behealthykotlinapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BeHealthyKotlinApp">
        <activity android:name=".RecipeForNormalWeight"></activity>
        <activity android:name=".RecipeForObese" />
        <activity android:name=".RecipeForUnderweight" />
        <activity android:name=".Quiz" />
        <activity android:name=".CaloriesCalculator" />
        <activity android:name=".Chart" />
        <activity android:name=".MainActivity" />
        <activity android:name=".StartView">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>